body                         {text-align:;
                              font-family: 'Montserrat', sans-serif;}

 .title-heading              {font-weight: 900 /*black*/;
 	                          font-size: 3.5rem;
                              line-height: 1.5;
                              color: white;
                              background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */}



h3                           {font-weight: 700 /*bold*/;}

.ftxt                            {color: #8f8f8f;}

.coloured-section            {background-color: #ff4c68;
                              color: white;}

.uncoloured-section          {background-color: white;
                              color: white;}

.container-fluid             {padding: 3% 15%;
                              margin-top: 150px;}

/*Navigation Bar*/
.navbar                      {
                              position: sticky;
                              background: rgba(0, 0, 0, 0.4)}

.navbar-toggler-icon            {color: red}

.navbar-brand                {font-family: 'Monoton', cursive;
                              font-size: 1.5rem;
                              font-weight: 400;
                              background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
                              color: white}
.navbar-brand:hover          {color: white;}

.nav-item                    {padding: 0 30px;
                              color: white;
                              background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
                              }

.nav-link                    {font-size: 1.2rem;
                              font-weight: 100 /*thin*/;
                              }

.navtxt                       {color: rgb(255 255 255);
                                font-size: 20px;
                                font-weight: 300;
                              }

.logo                        {width: 80px;
                              margin-top: 8px;}

.help                       {width: 40px;}
          

/*Download Button*/
.location-text                {color: white;}
.btn                         {margin: 5% 3% 5% 0}

/*Title*/
#title                       {background-image: url(https://images.unsplash.com/photo-1610374792793-f016b77ca51a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBidWlsZGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80);
                              background-position: center;
                                 background-size: 1450px;}

.title-img                   {width: 60%;
                              transform: rotate(25deg);}

/*Features*/
.code-img              {width: 100px;
                        border-radius: 100%;
                        margin-bottom: 1rem;}

#features                    {padding: 7% 15%;
                              background-color: #f2f5f5}

.feature-h3                  {color: #000d2c;}                              

.feature-box                 {text-align: center;
                              padding: 4.5%;}

.feature-icon                {color: #efa566;
                              margin-bottom: 1rem;}

.feature-icon:hover		     {color: #ff4c68;}


/*Testimonials*/
#testimonials                {text-align: center;
                              background-color: #010a15;
                              color: white;}


.testimonial-image           {width: 10%;
                              border-radius: 100%;
                              margin: 20px;}

 .carousel-item              {padding: 7% 15%;}
                                                                              


/*Press*/
#press                       {background-color: #010a15;
                              text-align: center;
                              padding-bottom: 3%;}

.press-logo                  {width: 15%;
                              margin: 20px 20px 50px}


/*Price*/
#pricing                      {padding: 100px 80px 100px;
                               text-align: center;}
.price-img                    {width: 100%}
.pricing-column               {padding: 3% 1% 1%;}
.pricing-heading              {font-weight: 700 /*bold*/;
                               font-size: 3rem;
                               line-height: 1.5;}


/*CTA Section*/
#cta                           {background-image: url(https://wallpapersmug.com/download/3840x2400/c2cd94/edge-facade-buildings.jpg);
                                color: black;
                                padding: 15% 15%;
                                text-align: center;
                                background-position: center;
                                font-family: 'Noto Sans Mono', monospace;
                                background-size: 2000px;}

.cta-heading                   {font-weight: 900 /*black*/;
                                font-size: 3.5rem;
                                line-height: 1.5;}

/*footer Section*/
#footer                         {padding: 5% 15%;
                                 text-align: center;
                                 background-color: #010a15;
                                 color: white;}

.fill                             {width: 10%;
                              border-radius: 100%;
                              margin: 20px;}

.form-label                   {
                                color: black;
                               }


 .links-tb                      {text-align: center;}
.social-icon                    {margin-bottom: 60px }
.envelope                       {
                                 padding-bottom: 20px; }
.fa-phone                       {transform: rotate(90deg);
	                             margin-left: 80px;}




.bottom-container     {padding-top: 30px;
                       padding-bottom: 30px;
                       background-color: inherit;}

#Contact             {
                          margin-top: 20px;
                         }



.Mediatxt1              {color: white;
                        margin-right: 80px;}

.Mediatxt2           {color: white; }

p                {
                  text-align: inherit;
                 font-family: 'Montserrat', sans-serif;
                        }

 .rowdiv            {position: relative;}



.linksimgs                   {width: 50px;
                             margin-right: 8px;
                             }                    
.fb-table                {float: left;}
.twitter-table           {float: left}
.instagram-table         {float: left;}

form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 25px 0 #1c87c9; 
      margin-bottom: 90px;}

 button {
      width: auto;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #4eb741;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      }
button.hover {color: red;}

  @media screen and (max-width: 580px) {

.title-heading     {font-weight: 900 /*black*/;
                            font-size: 50px;
                              line-height: 1.5}

#title             {background-position: right;
                    background-size: 1000px;
                   }



.container-fluid             {padding: 3% 10%;
                              margin-top: 200px; }



.testimonial-text     {font-size: 28px;
                       margin-top: 30px;}
    

.cta-heading                   {font-weight: 900 /*black*/;
                                font-size: 40px;
                                line-height: 1.5;
                                margin: 100px 100px 0 0;
                                }

#cta                 {background-size: 1000px;}          


}


























/*Font Families*/
font-family: 'Montserrat', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Fredoka One', cursive;







https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkzgmfpgk7w_zCzazBDnO4THO4B6IlaMuBFA&usqp=CAU

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjY2oZB0e9kdypiXnYOuDUi7Ye26f-H_H8JQ&usqp=CAU

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtTHQKeYP5_ZnGTFnGp5Vmb42RqfHYuzrnXw&usqp=CAU

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUe9-IgLBNYRkX8GL8oAHFTQWkr8GwrGYpww&usqp=CAU